*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body{
    display: flex;
    flex-direction: column;
}

/* Navbar */

#navbarNav{
    justify-content: flex-end;
}

.bg-color{
    background-color: black;
}

/* Carrusel */

.section1{
    /* max-height: auto; */
    margin-bottom: 1.4rem;
}

#carouselExampleControls{
    position: absolute;
    opacity: .7;
}

.cabecera{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #FFFc;
    text-align: center;
    max-height: inherit;
}

.cabecera h1{
    margin-top: 2rem;
    font-size: 10vw;
    -webkit-text-stroke: 2px black;
    font-family: 'Archivo Black', sans-serif;
}

.cabecera h2{
    font-size: 5vw;
    -webkit-text-stroke: .7px black;
    font-family: 'Archivo Black', sans-serif;
}

/* Cartas */

.section2{
    color: white;
    text-align: center;
    align-items: center;
    /* -webkit-text-stroke: .5px red; */
}

#section2-index{ 
    margin-top: 2.1rem;
} 

.section2 h2{
    font-size: 6vw;
    padding: 1rem;
}

.section2 h3{
    font-size: 4vw;
    padding: 1rem;
}

.promo-h4{
    font-size: 10vw;
    -webkit-text-stroke: 1px rgb(160, 3, 3);
    padding: 1rem;
}

.promos{
    color: black;
}

.bg-card-color{
    background-color: rgb(160, 3, 3);
}

/* Footer */

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: white;
}

footer h3{
    padding: 1rem;
    font-size: 8vw;
    -webkit-text-stroke: 1px rgb(160, 3, 3);
}

footer p{
    font-size: 4vw;
}

footer ul{
    list-style: none;
}

footer li{
    font-size: 5vw;
    padding: .6rem;
}

/* Iconos */

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 85%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    /* padding: 1rem; */
    transition: all 0.3s ease;
    color: white;
    -webkit-text-stroke: 2px rgb(160, 3, 3);
    font-size: 60px;
    border-radius: 50%;
    margin: 1rem;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    /* background-color: #000;  */
    color: rgb(160, 3, 3);
}

.whatsapp {
    /* background: transparent; */
    color: white;
}

.instagram {
    /* background: transparent; */
    color:  rgb(160, 3, 3);
}

.tag{
    font-size: 5rem;
    padding: 0;
    -webkit-text-stroke: 2px rgb(160, 3, 3);
}

.pizza{
    font-size: 5rem;
    padding: 1rem;
    -webkit-text-stroke: 2px rgb(160, 3, 3);
}

.beer{
    font-size: 5rem;
    padding: 1rem;
    -webkit-text-stroke: 2px rgb(160, 3, 3);
}

/* Alerta */
.alert{
    position: fixed;
    bottom: 100%;
}

@media screen and (max-width:410px){
    .section1{
        margin-bottom: -.8rem;
    }
}

@media screen and (min-width:539px) and (max-width:767px){
    .section1{
        margin-bottom: 2.7rem;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .section1{
        margin-bottom: 4.5rem;
    }
}

@media screen and (min-width:1024px) and (max-width:1279px){
    .section1{
        margin-bottom: 6.6rem;
    }  

    .cabecera h1{
        margin-top: 6vh;
        font-size: 10vw;
        -webkit-text-stroke: 2px rgb(16, 109, 16);
    }
}

@media screen and (min-width:1280px){
    .section1{
        
    }  

    .cabecera h1{
        margin-top: 4vh;
        font-size: 10vw;
        -webkit-text-stroke: 5px black;
    }

    .cabecera h2{
        margin-top: 4rem;
        font-size: 4vw;
        -webkit-text-stroke: 2px black;
    }
    
    .navbar a{
        font-size: 1.5rem;
    }

    .carousel-inner{
        height: 95.5vh;
    }   


    .icon-bar a {
        font-size: 40px;
    }   

    #section2-index{ 
        margin-top: 8.6rem;
    } 

    .promo-h4{
        padding: 0;
    }

    .icon-bar a{
        -webkit-text-stroke: 2px rgb(160, 3, 3);
        font-size: 60px;
        border-radius: 50%;
        margin: 1rem;
        padding: 16px;
    }

    .tag{
        font-size: 10rem;
    }

    .pizza{
        font-size: 10rem;
    }

    .beer{
        font-size: 10rem;
    }

    /* Footer */
     footer h3{
        font-size: 2vw;
    }

    footer p{
        font-size: 1vw;
    }

    footer li{
        font-size: 1vw;
    }
}



